In [2]:
# problem 1
x=int(input("Enter the marks of student :"))
if x>=90 and x<=100:
    print(f"Grade : A")
elif x<=89 and x >=70:
    print(f"Grade : B")
elif x<=69 and x >=50:
    print(f"Grade : C")
else:
    print(f"Grade : F")

Enter the marks of student :10
Grade : F

In [3]:
year=int(input("Enter the year: "))
if year%400==0:
    print("Leap year.")
elif year%100 ==0:
    print("Not Leap year.")
elif year%4==0:
    print("Leap year.")
else:
    print("Leap year.")

Enter the year: 2002
Leap year.

In [17]:
n=int(input("Enter the number of the rows: "))
i,j=0,0
for i in range (n):
    for j in range (n):
        print(f"*" ,end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
#question 4i
n=int(input("Enter the number of the rows: "))
x,y=0,0
for x in range (n):
    for y in range (n):
        if x>=y:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [5]:
#question 4 ii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=n-1
for x in range (n+1):
    for y in range (n+1):
        if x<=y:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
  * * * *
    * * *
      * *
        *

In [32]:
#question 4iv
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=n-1
for x in range (n+1):
    for y in range (n+1):
        if x+y>=n :
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
        *
      * *
    * * *
  * * * *
* * * * *

In [1]:
#question 4 iii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=n-1
for x in range (n+1):
    for y in range (n+1):
        if x+y>=n :
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
        *
      * *
    * * *
  * * * *
* * * * *

In [57]:
#question 4 x
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x<=y and x+y<=2*n) or (x+y>=2*n and x>=y):
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
  * * *
    *
  * * *
* * * * *

In [67]:
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x<=y and x+y>=2*n) :
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
        *
      * *
    * * *
      * *
        *

In [74]:
#qoustion1 

x=int(input("Enter the first number : "))
y=int(input("Enter the second number : "))
print(f"The avarage of two number : {(x+y)/2}")

if x<y:
    print(f" Y is the largest.")
elif x>y:
    print(f" X is the largest.")
else:
    print(f"Two numbers are equal")

Enter the first number : 5
Enter the second number : 2
The avarage of two number : 3.5
 X is the largest.

In [3]:
#question 2 
x=float(input("Enter the first number : "))
y=float(input("Enter the second number : "))
z=float(input("Enter the third number : "))

if x<y:
    if x<z:
        min=x
    else:
        min=z
else:
    if y<z:
        min=y
    else:
        min=z
if x>y:
    if x>z:
        max=x
    else:
        max=z
else:
    if y>z:
        max=y
    else:
        max=z
print(f"The smalest number is:{min}")
print(f"The greatest number is:{max}")
avg=format((x+y+z)/3, ".2f")
print(avg,)

Enter the first number : 2
Enter the second number : 6
Enter the third number : 5
The smalest number is:2.0
The greatest number is:6.0
4.33 .2f

In [9]:
#question 4 v
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if x>=y and x+y<=n*2:
               print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
*
* *
* * *
* *
*

In [10]:
#question 4 vi
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if x<=y and x+y>=n*2:
               print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
        *
      * *
    * * *
      * *
        *

In [11]:
#question 4 vii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if x<=y and x+y<=n*2:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
  * * *
    *

In [10]:
#question 4 viii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if  x+y>=n*2 and x>=y:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5


    *
  * * *
* * * * *

In [13]:
#question 4 ix
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x>=y and x+y<=n*2) or (x<=y and x+y>=n*2) :
               print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
*       *
* *   * *
* * * * *
* *   * *
*       *

In [14]:
#question 4 x
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x<=y and x+y<=n*2)or ( x+y>=n*2 and x>=y):
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
  * * *
    *
  * * *
* * * * *

In [15]:
#question 4 xi
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if x+y>=n and y-x<=n and x+y<=3*n and x-y<=n:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
    *
  * * *
* * * * *
  * * *
    *

In [8]:
#question 4 xii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if not(x+y>n and y-x<n and x+y<3*n and x-y<n):
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
* *   * *
*       *
* *   * *
* * * * *

In [19]:
n=int(input("Enter the number of the rows: "))
n=(n-1)//2
x,y=0,0
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x+y>=n and x<=n and y<=n) or (x+y<=3*n and x>=n and y>=n):
            print("*",end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
    *
  * *
* * * * *
    * *
    *

In [27]:
n=int(input("Enter the number of the rows: "))
n=(n-1)//2
x,y=0,0
for x in range (2*n+1):
    for y in range (2*n+1):
        if (y-x<=n and x<=n and y>=n) or (x>=n and x-y<=n and y<=n) :
            print("*",end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
    *
    * *
* * * * *
  * *
    *

In [2]:
n=int(input("Enter the number of the rows: "))
n=(n-1)//2
x,y=0,0
for x in range (2*n+1):
    for y in range (2*n+1):
        if (y<=x and y>=0 and x <=n) or(x-y<=n and x>=n and y<=n) or (x+y<=3*n and x>=n and y>=n) or (x<=n and y<=2*n and y+x>=2*n):
            print("*",end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 6
*       *
* *   * *
* * * * *
  * * *
    *

In [5]:
n=int(input("Enter the number of the rows: "))
n=(n-1)//2
x,y=0,0
for x in range (2*n+1):
    for y in range (2*n+1):
        if (y<=x and y>=0 and x <=n) or(x-y<=n and x>=n and y<=n) or (x+y<=3*n and x>=n and y>=n) or (x<=n and y<=2*n and y+x>=2*n):
            print("*",end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 6
*       *
* *   * *
* * * * *
  * * *
    *