In [2]:
#Check if a string is palindrome or not.
s=input("Enter the string : ").replace(' ','').lower()
s1=s[::-1]
if s1==s:
    print("This is a palindrome.")
else:
    print("This is not a palindrome.")

Enter the string : Never odd or even
This is a palindrome.

In [32]:
#Find all duplicate characters in a string.

s=input("Enter the string: ")
a=[]
for i in s:
   a.append(i)
unique=[]
duplicate=[]
for i in a:
    if i not in unique:
        unique.append(i)
    else:
        duplicate.append(i)
duplicate

Enter the string: My yi MMM jsfd

['y', ' ', 'M', 'M', 'M', ' ']

In [2]:
#Find words in a string which are greater than some given length k.
s=input("Enter the string : ")
n=int(input("Enter the length : "))
a=s.split()
for i in a:
    if len(i)>n:
        print(i)

Enter the string : hhhh aaaa d d dhehhh
Enter the length : 3
hhhh
aaaa
dhehhh

In [5]:
#Format input names, given as strings, as follows
name=input("Enter the name: ")
a=name.split()
print(a)
l_name=a[-1]
for i in range (len(a)-1):
    print(a[i][0],".",end='')
print(l_name)

Enter the name: aaa ddd ccc
['aaa', 'ddd', 'ccc']
a .d .ccc

In [20]:
'''Accept a string of comma separated words as input and generate a string of comma
separated words (from the input string) sorted alphabetically.'''

s=input("Enter the string: ")
s=s.split(',')
print(sorted(s))

Enter the string: MBA,BCA,BTECH,MCA
['BCA', 'BTECH', 'MBA', 'MCA']

In [38]:
#Accept a string of comma separated 4-digit binary numbers as input and print a comma
#separated string containing the numbers that are divisible by3.
s=input("Enter comma separated 4-digit binary: ")
s=s.split(',')
for i in s:
    decimal=int(i,2)
    if(decimal%3)==0:
        print("divisable")
    else:
        print("not divisable")

Enter comma separated 4-digit binary: 0100,0011,1101,1001
not divisable
divisable
not divisable
divisable

In [36]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [7]:
#Check if the items in a list are sorted in ascending order, or descending order, or not sorted.
lst=[12,5,3]
if(lst == sorted(lst)):
    print("The list is sorted in ascending .")
elif(lst == sorted(lst,reverse=True)):
    print("The list is sorted in descending order .")
else:
   print("not sorted.")

The list is sorted in descending order .

In [41]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [10]:
#Find N largest elements from a list.
lst=[12,8,5,66,1,22]
n=int(input("Enter the N value to find n largest element: "))
print(lst)
lst1=sorted(lst)
print(lst1)
max=lst1[n-1]
print(max)

Enter the N value to find n largest element: 6
[12, 8, 5, 66, 1, 22]
[1, 5, 8, 12, 22, 66]
66

In [12]:
#Move a specified element to the end of a list.
lst=['BSC', 'MSC', 'BTECH', 'MTECH', 'BLIB', 'MLIB']
print(lst)
element=input("Enter the element you want to bring last : ")
ind= lst.index(element)
temp=lst.pop(ind)
print(str(lst.append(temp)))
lst

['BSC', 'MSC', 'BTECH', 'MTECH', 'BLIB', 'MLIB']
Enter the element you want to bring last : BLIB
None

['BSC', 'MSC', 'BTECH', 'MTECH', 'MLIB', 'BLIB']

In [2]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [4]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [32]:
#Sum the digits of individual elements in a list of numbers.
lst=[21,34,35,66]
output=[]
for i in lst:
    sum=0
    temp=int(i)
    while temp>0:
        digit=int(temp%10)
        sum=sum+digit
        temp=temp/10
    output.append(sum)
output

[3, 7, 8, 12]

In [26]:
#11. Given a string, generate a list of nonempty prefixes of the string, ordered from shortest to longest.
s=input("Enter the string : ")
a=[]
x=''
for i in s:
    x+=i
    a.append(x)
print(a)

Enter the string : banana
['b', 'ba', 'ban', 'bana', 'banan', 'banana']

In [28]:
#Given a list of filenames, generate a new list to rename all the files with extension ‘cpp’ to the extension ‘h’.

lst=["program.c", "stdio.cpp", "sample.cpp", "a.out", "math.cpp", "cpp.out"]
lst2=[]
for i in lst:
    lst2.append(i.replace('.cpp','.h'))
lst2

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'cpp.out']

In [51]:
#13. Given a list of courses, create a new list of courses that are offered by the department of
#Computer Applications (i.e., courses that start with MCA]


lst=["MCA1205", "MCA2125", "HUM2191", "MTH2102", "MCA1295"]
lst2=[]
for i in lst:
    if(i.startswith("MCA")):
        lst2.append(i)
lst2

['MCA1205', 'MCA2125', 'MCA1295']

In [33]:
#14. A list contains the roll nos. of students of MCA 1st and 2nd year who enrolled in the debate
#club. The roll no. of the students is prefixed with the year (2 digits) of admission. From that
#given list, create two separate lists for 1st year students and 2nd year students.
# Sample Input: [2182001, 2182023, 2282022, 2282056, 2182049, 2282036, 2182053]
# Output: [2182001, 2182023, 2182049, 2182053]
# [2282022, 2282056, 2282036]

roll= [2182001, 2182023, 2282022, 2282056, 2182049, 2282036, 2182053]
roll_1st_yr=[]
roll_2nd_yr=[]
for i in roll:
    if str(i).startswith("21"):
        roll_1st_yr.append(i)
    elif str(i).startswith("22"):
        roll_2nd_yr.append(i)
print(f"the list of 1st year students {roll_1st_yr}")
print(f"the list of 2nd year students {roll_2nd_yr}")

the list of 1st year students [2182001, 2182023, 2182049, 2182053]
the list of 2nd year students [2282022, 2282056, 2282036]

In [34]:
# Given a list of names, generate a list where each element is the surname of the
# corresponding element in the input list.
# Sample Input: [‘A Prasad Sen’, ‘Ananth B Chand’, ’Heera Juhuri’, ’Tapasi Das’, ’Gambhir
# Mudi’]
# Output: [‘Sen’, ‘Chand’, ’Juhuri’, ‘Das’, ‘Mudi’]

names= ['A Prasad Sen', 'Ananth B Chand', 'Heera Juhuri', 'Tapasi Das', 'Gambhir Mudi']
lname=[]
for name in names:
    lname.append(name.split()[-1])
lname

['Sen', 'Chand', 'Juhuri', 'Das', 'Mudi']

In [39]:
# Break a list into chunks of size N.
lst=[1,2,2,3,4,4,5,6,6,77,8,8]
chunk=int(input("Enter the chunk value you want to divide the list: "))
x=[lst[i:i+chunk] for i in range(0,len(lst),chunk)]
x

Enter the chunk value you want to divide the list: 3

[[1, 2, 2], [3, 4, 4], [5, 6, 6], [77, 8, 8]]

In [42]:
# Pair up consecutive elements of a given list.
lst=[1,2,2,3,4,4,5,6,6,77,8,8]
pair=[lst[i:i+2] for i in range(len(lst))]
pair

[[1, 2],
 [2, 2],
 [2, 3],
 [3, 4],
 [4, 4],
 [4, 5],
 [5, 6],
 [6, 6],
 [6, 77],
 [77, 8],
 [8, 8],
 [8]]