In [4]:
#Given a non-empty dictionary, create a list of tuples where each tuple is a (key, value) pair of the
#dictionary.
d1={'a':1,'b':2,'c':3}
l1=[(x,y) for x,y in d1.items()]
print(l1)

[('a', 1), ('b', 2), ('c', 3)]

In [14]:
#Find maximum and minimum k elements in a Tuple.
t1=(12,5,8,1,7,5,8)
print("The tuple is :",t1)
t2=tuple(sorted(t1))
print("sorted list is : ",t2)
n=int(input("Enter the kth minimum element: "))
x=slice(n)
print(t2[x])
n=int(input("Enter the kth maximun element: "))
print(t2[-n:])

The tuple is : (12, 5, 8, 1, 7, 5, 8)
sorted list is :  (1, 5, 5, 7, 8, 8, 12)
Enter the kth minimum element: 5
(1, 5, 5, 7, 8)
Enter the kth maximun element: 5
(5, 7, 8, 8, 12)

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [1]:
#Extract unique values from a dictionary.
d1 = {'a':5, 'b':5,'c':5 ,'d':2}
print("The dictionary is : " + str(d1))
result=(set)(d1.values())
result

The dictionary is : {'a': 5, 'b': 5, 'c': 5, 'd': 2}

{2, 5}

In [5]:
'''Append dictionary keys and values (in order), all keys before all values.
Sample Input: {1: "Jan", 2: "Feb", 3: "Mar"}
Output: [1, 2, 3, 'Jan', 'Feb', 'Mar']'''

d1={1: "Jan", 2: "Feb", 3: "Mar"}
res = list(d1.keys()) + list(d1.values())
print(res)

[1, 2, 3, 'Jan', 'Feb', 'Mar']

In [32]:
#Sort the items of a dictionary (i) by keys, (ii) by values
d1={1: "Jan", 7: "Feb", 3: "Mar"}
k = list(d1.keys())
# k.sort()
# s_d1 = {i: d1[i] for i in k}
# print(s_d1)

# k1 = list(d1.values())
# k1.sort()
# s_d2 = {d1[i]:i for i in k1}
# print(s_d2)
print(d1.items())
lst=dict(sorted(d1.items()))
print(lst)
lst2=dict(sorted(d1.items() ,key=lambda x:x[1]))
print(lst2)

dict_items([(1, 'Jan'), (7, 'Feb'), (3, 'Mar')])
{1: 'Jan', 3: 'Mar', 7: 'Feb'}
{7: 'Feb', 1: 'Jan', 3: 'Mar'}

In [2]:
#Remove all duplicates words from a givensentence.
s=input("Enter the sentence: ")
s1=s.split(" ")
result=(set)(s1)
print(" ".join(result))

Enter the sentence: java is is
 java is

In [10]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [46]:
'''Use a dictionary to count the frequency of words in an input string. Only words should be counted,
not blank spaces, numbers, or punctuation. Upper case should be considered the same as lowercase.
Sample Input: Fear leads to anger ; Anger leads to hatred; Hatred leads to conflict; Conflict leads to suffering.
Output: {'fear': 1, 'leads': 4, 'to': 4, 'anger': 2, 'hatred': 2, 'conflict': 2, 'suffering': 1} '''
n="Fear leads to anger ; Anger leads to hatred; Hatred leads to conflict ; Conflict leads to suffering"
l=list(n.lower().split(" "))
print(l)
d=dict()
for i in l:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
d

['fear', 'leads', 'to', 'anger', ';', 'anger', 'leads', 'to', 'hatred;', 'hatred', 'leads', 'to', 'conflict', ';', 'conflict', 'leads', 'to', 'suffering']

{'fear': 1,
 'leads': 4,
 'to': 4,
 'anger': 2,
 ';': 2,
 'hatred;': 1,
 'hatred': 1,
 'conflict': 2,
 'suffering': 1}

In [50]:
#Given a dictionary, which contains domain names as keys, and a list of users as values, generate a list
#that contains complete email addresses.
#Sample
#Input: {"gmail.com": ["paul.buchheit", "sanjeev.singh", "kevin.fox"], "yahoo.com":
#["jerry.yang", "david.filo"], "hotmail.com": ["sabeer.bhatia"]}

#Output: ['paul.buchheit@gmail.com', 'sanjeev.singh@gmail.com', 'kevin.fox@gmail.com',
#'jerry.yang@yahoo.com', 'david.filo@yahoo.com', 'sabeer.bhatia@hotmail.com']
d={"gmail.com": ["paul.buchheit", "sanjeev.singh", "kevin.fox"],"yahoo.com":["jerry.yang", "david.filo"],"hotmail.com": ["sabeer.bhatia"]}
emails = []
print(d.items())
for domain, users in d.items():
    for user in users:
        emails.append(user+"@"+domain)
emails

dict_items([('gmail.com', ['paul.buchheit', 'sanjeev.singh', 'kevin.fox']), ('yahoo.com', ['jerry.yang', 'david.filo']), ('hotmail.com', ['sabeer.bhatia'])])

['paul.buchheit@gmail.com',
 'sanjeev.singh@gmail.com',
 'kevin.fox@gmail.com',
 'jerry.yang@yahoo.com',
 'david.filo@yahoo.com',
 'sabeer.bhatia@hotmail.com']

In [57]:
#Given a dictionary, which contains group names with the list of users (Users can belong to multiple
#groups), create a dictionary with the users as keys and a list of their groups asvalues.
#Sample
#Input: {"local": ["admin", "Ananya"],"public": ["admin", "Zahir"], "administrator”: ["admin"] }
#Output: {'admin': ['local', 'public', 'administrator'], 'Ananya': ['local'], 'Zahir':['public']}

d={"local": ["admin", "Ananya"],"public": ["admin", "Zahir"], "administrator": ["admin"] }
res={}
for x,y in d.items():
    for i in y:
        if i in res:
            res[i].append(x)
        else:
            res[i]=[x]
res

{'admin': ['local', 'public', 'administrator'],
 'Ananya': ['local'],
 'Zahir': ['public']}

In [65]:
# 10. Given a dictionary that contains a student’s roll, name and a list of marks,
# (i) Update the dictionary with an added item of the total of the student’s marks.
# Sample
# Input: {"roll": 5, "Name": "Ananya", "marks": [79, 88, 92]}
# Output: {'roll': 5, 'Name': 'Ananya', 'marks': [79, 88, 92], 'total': 259}

student={"roll": 5, "Name": "Ananya", "marks": [79, 88, 92]}
s=sum(student['marks'])
student['total']=s
student

{'roll': 5, 'Name': 'Ananya', 'marks': [79, 88, 92], 'total': 259}

In [66]:
# (ii) Update the dictionary with an added entry of the total of the student’s marks in the list.
# Sample Input: {"roll": 5, "Name": "Ananya", "marks": [79, 88, 92]}
# Output: {'roll': 5, 'Name': 'Ananya', 'marks': [79, 88, 92, 259]}

student={"roll": 5, "Name": "Ananya", "marks": [79, 88, 92]}
s=sum(student['marks'])
student['marks'].append(s)
student

{'roll': 5, 'Name': 'Ananya', 'marks': [79, 88, 92, 259]}

In [67]:
# (iii) Update the dictionary with the students’ marks list replaced by the total marks of the student
# Sample
# Input: {"roll": 5, "Name": "Ananya", "marks": [79, 88, 92]}
# Output: {'roll': 5, 'Name': 'Ananya', 'marks': 259}
student={"roll": 5, "Name": "Ananya", "marks": [79, 88, 92]}
s=sum(student['marks'])
student['marks']=s
student

{'roll': 5, 'Name': 'Ananya', 'marks': 259}

In [ ]:
# Convert a Linux (UNIX) file permission in octal format into a string format.
# [The permissions are split into three sets of three permissions: read, write,
# and execute for the owner, group, and others. Each of the three values can be
# expressed as an octal number summing each permission, with 4 corresponding to 
# read, 2 to write, and 1 to execute. Or, it can be written with a string using
# the letters r, w, and x or - when the permission is not granted]

# input  output
# 755    rwxr-xr-x
# 750    rwxr-x---
# 642    rw-r---w-