In [4]:
# i) Write a script that reads two integers, and prints the average of the two numbers.
# ii) Modify 1.i) to print the larger of the two numbers.
x=int(input("Enter 1st integer: "))
y=int(input("Enter 2nd integer: "))
avg=(x+y)/2
print(f"the avarage value of {x} and {y} is {avg}")
print(f"the max value between {x} and {y} is {max(x,y)}")

Enter 1st integer: 12
Enter 2nd integer: 88
the avarage value of 12 and 88 is 50.0
the max value between 12 and 88 is 88

In [6]:
# Write a script that reads three floating point numbers, and does the 
# following: i) It prints the smallest and largest among the three.
# ii) It prints the average of the three numbers up to 2 decimal places.
x=float(input("Enter 1st integer: "))
y=float(input("Enter 2nd integer: "))
z=float(input("Enter 3rd integer: "))
avg=(x+y+z)/3
print(f"the avarage value of {x} , {y} and {z} is {round(avg,2)}")
print(f"the max value between {x}, {y} and {z} is {max(x,y,z)}")
print(f"the min value between {x}, {y} and {z} is {min(x,y,z)}")

Enter 1st integer: 12.6
Enter 2nd integer: 8.7
Enter 3rd integer: 6.0
the avarage value of 12.6 , 8.7 and 6.0 is 9.1
the max value between 12.6, 8.7 and 6.0 is 12.6
the min value between 12.6, 8.7 and 6.0 is 6.0

In [6]:
#python program for grade system
x=int(input("Enter the marks of student :"))
if x>=90 and x<=100:
    print(f"Grade : A")
elif x<=89 and x >=70:
    print(f"Grade : B")
elif x<=69 and x >=50:
    print(f"Grade : C")
else:
    print(f"Grade : F")

Enter the marks of student :87
Grade : B

In [9]:
#Write a script that prompts the user to input a year and 
#determine whether that year is a leap year or not.

year=int(input("Enter the year: "))
if year%400==0:
    print("Leap year.")
elif year%100 ==0:
    print("Not Leap year.")
elif year%4==0:
    print("Leap year.")
else:
    print("Leap year.")

Enter the year: 2024
Leap year.

In [17]:
n=int(input("Enter the number of the rows: "))
i,j=0,0
for i in range (n):
    for j in range (n):
        print(f"*" ,end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [19]:
#question 4i
n=int(input("Enter the number of the rows: "))
x,y=0,0
for x in range (n):
    for y in range (n):
        if x>=y:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
*
* *
* * *
* * * *
* * * * *

In [5]:
#question 4 ii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=n-1
for x in range (n+1):
    for y in range (n+1):
        if x<=y:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
  * * * *
    * * *
      * *
        *

In [32]:
#question 4iv
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=n-1
for x in range (n+1):
    for y in range (n+1):
        if x+y>=n :
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
        *
      * *
    * * *
  * * * *
* * * * *

In [38]:
#question 4 iii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=n-1
for x in range (n+1):
    for y in range (n+1):
        if x+y<=n :
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
* * * *
* * *
* *
*

In [57]:
#question 4 x
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x<=y and x+y<=2*n) or (x+y>=2*n and x>=y):
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
  * * *
    *
  * * *
* * * * *

In [7]:
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x<=y and x+y>=2*n) :
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 10
                *
              * *
            * * *
          * * * *
        * * * * *
          * * * *
            * * *
              * *
                *

In [8]:
#question 4 v
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if x>=y and x+y<=n*2:
               print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 7
*
* *
* * *
* * * *
* * *
* *
*

In [10]:
#question 4 vi
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if x<=y and x+y>=n*2:
               print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
        *
      * *
    * * *
      * *
        *

In [11]:
#question 4 vii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if x<=y and x+y<=n*2:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
  * * *
    *

In [12]:
#question 4 viii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if  x+y>=n*2 and x>=y:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5


    *
  * * *
* * * * *

In [13]:
#question 4 ix
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x>=y and x+y<=n*2) or (x<=y and x+y>=n*2) :
               print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
*       *
* *   * *
* * * * *
* *   * *
*       *

In [14]:
#question 4 x
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x<=y and x+y<=n*2)or ( x+y>=n*2 and x>=y):
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
* * * * *
  * * *
    *
  * * *
* * * * *

In [15]:
#question 4 xi
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if x+y>=n and y-x<=n and x+y<=3*n and x-y<=n:
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 5
    *
  * * *
* * * * *
  * * *
    *

In [9]:
#question 4 xii
n=int(input("Enter the number of the rows: "))
x,y=0,0
n=(n-1)//2
for x in range (2*n+1):
    for y in range (2*n+1):
        if not(x+y>n and y-x<n and x+y<3*n and x-y<n):
            print("*", end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 10
* * * * * * * * *
* * * *   * * * *
* * *       * * *
* *           * *
*               *
* *           * *
* * *       * * *
* * * *   * * * *
* * * * * * * * *

In [10]:
n=int(input("Enter the number of the rows: "))
n=(n-1)//2
x,y=0,0
for x in range (2*n+1):
    for y in range (2*n+1):
        if (y<=x and y>=0 and x <=n) or(x-y<=n and x>=n and y<=n) or (x+y<=3*n and x>=n and y>=n) or (x<=n and y<=2*n and y+x>=2*n):
            print("*",end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 6
*       *
* *   * *
* * * * *
  * * *
    *

In [11]:
n=int(input("Enter the number of the rows: "))
n=(n-1)//2
x,y=0,0
for x in range (2*n+1):
    for y in range (2*n+1):
        if (y-x<=n and x<=n and y>=n) or (x>=n and x-y<=n and y<=n) :
            print("*",end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 7
      *
      * *
      * * *
* * * * * * *
  * * *
    * *
      *

In [22]:
n=int(input("Enter the number of the rows: "))
n=(n-1)//2
x,y=0,0
for x in range (2*n+1):
    for y in range (2*n+1):
        if (x+y>=n and x<=n and y<=n) or (x+y<=3*n and x>=n and y>=n):
            print("*",end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 10
        *
      * *
    * * *
  * * * *
* * * * * * * * *
        * * * *
        * * *
        * *
        *

In [35]:
n=int(input("Enter the number of the rows: "))
n=(n-1)//2
x,y=0,0
for x in range (2*n+1):
    for y in range (2*n+1):
        if (y>=x  and y<=n)or(x+y>=2*n and x<=n) or (y<=x and y>=n) or (x+y<2*n and x>=n):
            print("*",end=' ')
        else:
            print(" ", end=' ')
    print()

Enter the number of the rows: 10
* * * * *       *
  * * * *     * *
    * * *   * * *
      * * * * * *
* * * * * * * * *
* * *   * *
* *     * * *
*       * * * *
        * * * * *