In [10]:
#Write a function attached() that takes three parameters, the first an integer (required
#parameter), the second a string (required parameter), and the third an optional parameter
#whose default vale is “:”. Returned value will be the first parameter, concatenated with the
#second, using the third.
def attached(x,y,z=":"):
    return str(x)+z+y
attached(12,'python')

'12:python'

In [15]:
#Give an implementation of a function called nums() that has three parameters, the first, an
#integer, is required, the second parameter multInt, an integer, is optional with a default value of
#10, the final parameter switch, is also optional with a default value of False. The function should
#multiply the two integers together, and if switch is True, should change the sign of the product
#before returningit.
def nums(x:int,mulInt=10,switch=False):
    result=x*mulInt
    if(switch):
        return -result
    else:
        return result
print(nums(2))
print(nums(2,switch=True))

20
-20

In [ ]:
#The p-norm of a vector v = (v1, v2, …, vn) in n-dimensional space is defined as 
#For the special case of p = 2, this results in the traditional Euclidean norm, which represents the
#length of the vector. For example, a two-dimensional vector with coordinates (4,3) has a
#Euclidean norm of √(4^2+3^2)= 5 . Give an implementation of a function named norm() such that
#norm(v, p) returns the p-norm value of v and norm(v) returns the Euclidean norm of v.

In [27]:
import math
def calc(V,p=2):
    return sum(v**p for v in V )**(1/p)
V=[4,3]
calc(V)

5.0

In [30]:
#Define a function to return a tuple containing a pair, the sum of all the even integers and odd
#integers respectively, in a list of integers passed as anargument to the function
def func(lst):
    res_lst=[]
    sumEven,sumOdd=0,0
    for i in lst:
        if i%2==0:
            sumEven+=i
        else:
            sumOdd+=i
    res_lst.append(sumEven)
    res_lst.append(sumOdd)
    return res_lst
lst=[1,2,3,5,8]
func(lst)

[10, 9]

In [33]:
#Write a function that accepts a list and returns a new list with unique elements of that list
def uniquelst(lst):
    s=(set)(lst)
    return list(s)
    
lst=[1,2,3,5,8,8,5]
uniquelst(lst)

[1, 2, 3, 5, 8]

In [37]:
#Write a function lastChar() that takes a string as input, and returns only its last character. Use
#this function to sort list of strings by the last character of each string, from highest to lowest.
s=['150', '23', '781', '19', '3478', '12', '9005', '84', '9817', '96']
result_lst= sorted(s, key=lambda x: x[-1], reverse=True)
result_lst

['19', '3478', '9817', '96', '9005', '84', '23', '12', '781', '150']

In [47]:
#Sort a list of numbers based on their absolute values, writing your own function for calculating
#absolute value of a number and (i) using it in sorted() without lambda, (ii) using it in sorted()
#with lambda.
def my_abs(n):
    if (n < 0):
        n = (-1) * n;
        return n
    else: return n
n=[-5, -7, 4, -2, -9]
sort_lst=sorted(n,key=my_abs)
sort_lst

[-2, 4, -5, -7, -9]

In [50]:
#ii
n=[-5, -7, 4, -2, -9]
sort_lst=sorted(n,key= lambda n:(-1)*n if n<0 else n )
sort_lst

[-2, 4, -5, -7, -9]

In [67]:
#Sort a list of words first by their length, smallest to largest, and then alphabetically to break ties
#among words of the same length (using sorted() and lambda)
s=['mtech', 'btech', 'mca', 'bca', 'diploma', 'dsc']
s_lst=sorted(s,key=lambda x:(len(x),x))

s_lst

['bca', 'dsc', 'mca', 'btech', 'mtech', 'diploma']

In [44]:
# Given a dictionary as stated in the sample input,
# (i) sort the states in order by the first city name. (Sample Output: ['West Bengal', 'Maharastra', 'Kerala'])
# (ii) sort the states by the length of the second city name, break ties of equal length by name of the second cities.
# (Sample Output: ['Maharastra', 'West Bengal', 'Kerala'])
# (iii) sort the states in order by the number of cities having length greater than 6. 
# (Sample Output: ['Maharastra', 'Kerala', 'West Bengal'])

# Sample Input: {"Kerala": ["Kannur", "Palakkad", "Thalassery"],
# "Maharastra": ["Bhandara", "Nagpur", "Wardha"],
# "West Bengal": ["Asansol", "Basirhat", "Bardhaman"]}

state_dict={"Kerala": ["Kannur", "Palakkad", "Thalassery"],
        "Maharastra": ["Bhandara", "Nagpur", "Wardha"],
        "West Bengal": ["Asansol", "Basirhat", "Bardhaman"]}
res1=list(sorted(state_dict.keys(),key=lambda city: state_dict[city][0]))

res2=list(sorted(state_dict.keys(),key=lambda city: (len(state_dict[city][1]),state_dict[city][1])))

print(f" sort the states in order by the first city name {res1}")
print(f"sort the states by the length of the second city name, break ties of equal length by name of the second cities: {res2}")

 sort the states in order by the first city name ['West Bengal', 'Maharastra', 'Kerala']
sort the states by the length of the second city name, break ties of equal length by name of the second cities: ['Maharastra', 'West Bengal', 'Kerala']

In [57]:
# Write a function that takes a string as a parameter and returns a list of the five most frequent characters in the string.
def foo(s):
    f_dict={}
    for i in s:
        
        if i not in f_dict:
            f_dict[i]=1
        else:
            f_dict[i]=f_dict[i]+1
    return(max(f_dict,key=f_dict.get))
s='raaam'
foo(s)

'a'

In [60]:
# Sort a list of roll numbers by the last three digits of the roll number.
# Sample Input: [20223005, 20222342, 20229000, 20220002, 20222345, 20229329]
# Output: [20229000, 20220002, 20223005, 20229329, 20222342, 20222345]

roll=[20223005, 20222342, 20229000, 20220002, 20222345, 20229329]
res=list(sorted(roll,key= lambda i :str(i)[-3:]))
res

[20229000, 20220002, 20223005, 20229329, 20222342, 20222345]

In [66]:
# Sort a list of names alphabetically by last name.
# Sample Input: ['Ales Bialiatski', 'Alain Aspect', 'Anton Zeilinger', 'Douglas Diamond']
# Output: ['Alain Aspect', 'Ales Bialiatski', 'Douglas Diamond', 'Anton Zeilinger']

name=['Ales Bialiatski', 'Alain Aspect', 'Anton Zeilinger', 'Douglas Diamond']
res=list(sorted(name,key=lambda x:  x.split()[-1]))
res

['Alain Aspect', 'Ales Bialiatski', 'Douglas Diamond', 'Anton Zeilinger']