In [43]:
size = 5
asciiNumber = 65
m = (size*2)-2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m-2
    for j in range(0, (i*2) + 1):
        character = chr(asciiNumber)
        print(character, end=' ')
    asciiNumber += 1
    print()

        A
      B B B
    C C C C C
  D D D D D D D
E E E E E E E E E

In [58]:
size = 5
asciiNumber = 65
count=0
m = (size*2)-2
for i in range(0, size):
    for j in range(0, m):
        print(" ",end="")
    m = m-2
    for j in range(0, (i*2) + 1):
        character = chr(asciiNumber)
        print(character, end=' ')
        count+=1
        asciiNumber += 1
    asciiNumber=asciiNumber-count+1
    count=0
    print()

        A
      B C D
    C D E F G
  D E F G H I J
E F G H I J K L M

In [2]:
size = 5
asciiNumber = 65
count=0
m = (size*2)-2
for i in range(0, size):
    for j in range(0, m):
        print(" ",end="")
    m = m-2
    for j in range(i + 1):
        print(chr(asciiNumber + j), end=" ")
        
    for j in range(i - 1, -1, -1):
        print(chr(asciiNumber + j), end=" ")
    
    print()

        A
      A B A
    A B C B A
  A B C D C B A
A B C D E D C B A

In [8]:
size = 5
asciiNumber = 69
count=0
m = (size*2)-2
for i in range(0, size):
    for j in range(0, m):
        print(" ",end="")
    m = m-2
    for j in range(i+1):
        print(chr(asciiNumber - j), end=" ")
    for j in range(i - 1, -1, -1):
        print(chr(asciiNumber - j), end=" ")
    print()

        E
      E D E
    E D C D E
  E D C B C D E
E D C B A B C D E

In [11]:
# students = {
# 'roll' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
# 'marks' : [25, 25, 20, 26, 38, 32, 36, 32, 19, 23, 25, 32]
# }
# (i) Load the dictionary in a Pandas DataFrame.
# (ii) Find the maximum and minimum marks.
# (iii) Find the average marks and how many students scored more than the average
# marks. Also find the students scoring those marks.
# (iv) Find the most common marks scored by students. And also find the students
# scoring those marks.
# (v) Find the three maximum marks in the dataset and the students scoring those
# marks.
import pandas as pd
students = {
'roll' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
'marks' : [25, 25, 20, 26, 38, 32, 36, 32, 19, 23, 25, 32]
}

df=pd.DataFrame(students)
df

    roll  marks
0      1     25
1      2     25
2      3     20
3      4     26
4      5     38
5      6     32
6      7     36
7      8     32
8      9     19
9     10     23
10    11     25
11    12     32

In [18]:
df['marks'].max()

38

In [19]:
df['marks'].min()

19

In [35]:
avg = df['marks'].mean()
print(f"the avg mmarks is: {avg}")
count=df[df['marks']>avg].shape[0]
print(f"The number of student scored above avg is {count}")
print("The list of the student scored above avg")
above_avg = df[df['marks'] > avg]
above_avg

the avg mmarks is: 27.75
The number of student scored above avg is 5
The list of the student scored above avg

    roll  marks
4      5     38
5      6     32
6      7     36
7      8     32
11    12     32

In [44]:
common_marks=df['marks'].mode()[0]
lst_common_marks=df[df['marks']==common_marks]
lst_common_marks

    roll  marks
0      1     25
1      2     25
10    11     25

In [48]:
top_three=df['marks'].nlargest(3)
top_three

4    38
6    36
5    32
Name: marks, dtype: int64

In [53]:
lst=df[df['marks'].isin(top_three)]
lst

    roll  marks
4      5     38
5      6     32
6      7     36
7      8     32
11    12     32

In [24]:
# List any five types of exceptions that you faced during programming with Python. Show with
# relevant examples when those exceptions occurred.
import math
try:
    x=9/0
except ArithmeticError as e:
    print(e)
try:
    print (x+8)
except NameError as e:
    print(e)
try:
    d=''
    d=d+9
except TypeError as e:
    print(e)
try:
    math.sqrt(-9)
except ValueError as e:
    print(e)

def fetch(y,ind):
    return y[ind]
try:
    y='spam'
    fetch(y,4)
except IndexError as e:
    print(e)

division by zero
name 'x' is not defined
can only concatenate str (not "int") to str
math domain error
string index out of range